<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard Orders</title>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="dashboard.css" rel="stylesheet">


    <style>
        .btn-group {
            white-space: nowrap;
        }

        .btn-group .btn {
            float: none;
            display: inline-block;
        }

        .btn + .dropdown-toggle {
            margin-left: -4px;
        }

        @media screen and (max-width: 1400px) {
            .table-responsive {
                border: 1px solid #ddd;
                margin-bottom: 15px;
                overflow-x: auto;
                overflow-y: hidden;
                width: 100%;
            }

            .table-responsive > .table {
                margin-bottom: 0;
            }

            .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
                white-space: nowrap;
            }

        }

        .table td, .table th {
            border: none;
        }

        table.table-condensed {
            border: 1px solid black;
        }
    </style>

</head>
<body>

<div th:insert="Fragments :: navbar">...</div>


<div class="container-fluid">
    <div class="row">


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${'Orderdetaljer för order ' + Orders.getV_dashboard_Order().id}"></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button id="btn-export" class="btn btn-sm btn-outline-secondary">Exportera till Excel</button>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle " type="button"
                        id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" th:text="'Status: ' + ${Orders.getV_dashboard_Order().getOrderStatus()}">
                    <span data-feather="book-open"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a th:each="orderstatus : ${OrderStatuses}"
                       th:href="@{'/dashboardOrderDetailsUpdate?Orderstatus=' + ${orderstatus.id} + '&Orderid=' + ${Orders.getV_dashboard_Order().id}}" class="dropdown-item"
                       th:text="${orderstatus.name}"/>
                </div>
            </div>
            <br>
            <table class="table table-responsive table-borderless table-sm table-condensed">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td class="font-weight-bold">Orgnr:</td>
                    <td th:text="${Orders.getCustomer().orgnr}"></td>
                    <td class="font-weight-bold">Kontaktperson:</td>
                    <td th:text="${Orders.getCustomer().contactperson}"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Kund:</td>
                    <td th:text="${Orders.getCustomer().companyname}"></td>
                    <td class="font-weight-bold">E-post:</td>
                    <td th:text="${Orders.getCustomer().mail}"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Datum:</td>
                    <td th:text="${Orders.getV_dashboard_Order().creationdate}"></td>
                    <td class="font-weight-bold">Fakturaadress:</td>
                    <td th:text="${Orders.getV_dashboard_Order().invoiceaddress + ', ' + Orders.getV_dashboard_Order().invoiceaddresspostalcode + ', ' + Orders.getV_dashboard_Order().invoiceaddresspostaltown}"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Betalningsmetod:</td>
                    <td th:text="${Orders.getV_dashboard_Order().PaymentMethod}"></td>
                    <td class="font-weight-bold">Leveransadress:</td>
                    <td th:text="${Orders.getV_dashboard_Order().deliveryaddress + ', ' + Orders.getV_dashboard_Order().deliveryaddresspostalcode + ', ' + Orders.getV_dashboard_Order().deliveryaddresspostaltown}"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Allergi:</td>
                    <td th:text="${Orders.getV_dashboard_Order().allergy}"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Märkning:</td>
                    <td th:text="${Orders.getV_dashboard_Order().additionaltext}"></td>
                </tr>
                </tbody>
            </table>

            <h4>Sammanfattning</h4>
            <table class="table table-sm table-responsive table-bordered table-condensed">
                <thead>
                </thead>
                <tbody>
                <tr th:each="orderbag : ${statList}">
                    <td th:text="${orderbag.getBagname()}"></td>
                    <td th:text="${orderbag.getQuantity() + ' st'}"></td>
                    <td th:text="${orderbag.getSum() + ' kr'}"></td>
                </tr>
                <tr class="font-weight-bold">
                    <td>Summa:</td>
                    <td></td>
                    <td th:text="${Produkttotal + ' kr'}"></td>
                </tr>
                <tr>
                    <td>Frakt: </td>
                    <td></td>
                    <td th:text="${Frakt + ' kr'}"></td>
                </tr>
                <tr class="font-weight-bold">
                    <td>Summa inkl frakt: </td>
                    <td></td>
                    <td th:text="${orderTotalSum + ' kr'}"></td>
                </tr>
                <tr class="font-weight-bold">
                    <td>Total inkl moms: </td>
                    <td></td>
                    <td th:text="${orderTotalInclVAT + ' kr'}">
                    </td>
                </tr>
                </tbody>
            </table>

            <h4>Specifikation</h4>
            <table class="table table-borderless table-sm">
                <thead>
                </thead>
                <tbody th:each="order : ${Orders.getOrderbagList()}">
                <div th:with="expr_result = ${#lists.size(order.getOrderbagproductsList()) < 5}">
                    <div th:if="${expr_result}">
                        <tr>
                            <th th:text="${order.getOrderbag().getBag()}"></th>
                            <td th:each="order2 : ${order.getOrderbagproductsList()}">
                                <span th:text="${order2.getProductCategory()} + ': ' + ${order2.getProduct()}"></span>
                            </td>
                        </tr>
                    </div>
                    <div th:unless="${expr_result}">
                        <tr colspan="20">
                            <th colspan="20"
                                th:text="${order.getOrderbag().getBag()} + ', ' + ${#lists.size(order.getOrderbagproductsList())} + ' produkter:'"></th>
                        </tr>
                        <tr colspan="20" th:each="order2 : ${order.getOrderbagproductsList()}">
                            <td colspan="20">
                                <span th:text="${order2.getProduct()}"></span>
                            </td>
                        </tr>
                    </div>
                </div>
                </tbody>
            </table>


            <!--<table class="table table-bordered">-->
            <!--<thead>-->
            <!--</thead>-->
            <!--<tbody th:each="order : ${Orders.getOrderbagList()}">-->
            <!--<th colspan="8" th:text="${order.getOrderbag().getBag()}"></th>-->
            <!--<tr th:each="order2 : ${order.getOrderbagproductsList()}">-->
            <!--&lt;!&ndash;<td th:text="${order2.getProductCategory()}"></td>&ndash;&gt;-->
            <!--<td th:text="${order2.getProductCategory()}"/>-->
            <!--<td th:text="${order2.getProduct()}"/>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
<script src="popper.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="feather.min.js"></script>

<script>
    $(document).ready(function () {
        var table = $('#orders').DataTable();

        $('#btn-export').on('click', function () {
            $('<table>').append(table.$('tr').clone()).table2excel({
                exclude: ".excludeThisClass",
                name: "Worksheet Name",
                filename: "SomeFile" //do not include extension
            });
        });

        //Hindrar byte av orderstatus när man går bakåt med navigationsknapparna i webläsaren.

        if (window.history && window.history.pushState) {

            window.history.pushState('forward',null,'./#forward');

            $(window).on('popstate', function () {
                window.location="http://localhost:8080/dashboardOrdersTextP?OrderStatus=2";
            });
        }
    })
</script>
<script src="jquery.table2excel.js"></script>
<script src="jquery.dataTables.min.js"></script>
<script>
    feather.replace()
</script>
<script>
    $("#navOrderDetails").addClass("active");
    $("#navOrderDetails").removeAttr("hidden");
</script>



</body>
</html>