<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Testmail template</title>
</head>
<body bgcolor="#FFFFFF" style="margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.428571429;color: #333;width: 100%;">
<div style="margin: 0 auto;padding: 0;display: block;max-width: 600px;clear: both;">
    <div style="margin: 0 auto;padding: 15px;max-width: 600px;display: block;">
        <div style="margin: 0;padding: 9px;background: #004877;margin-bottom: 20px;border: 1px solid #e3e3e3;border-radius: 3px;box-sizing: border-box;">
            <span style="margin: 5px;padding: 0;color: #fff;text-decoration: none;font-size: 18px;font-weight: 500;display: inline-block;line-height: 22px;">Testmail template</span>
        </div>
        <h3 style="font-weight: 500;font-size: 27px;" th:text="'Hej ' + ${name} + ', tack för din bokning!' + ">></h3>
    </div>
</div>
</body>
</html>