<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="styles.css">
    <title>Välj Frukost</title>
</head>
<body ng-app="app" ng-controller="formController">
<div class="bg part1">
    <div class="jumbotron text-center">
        <h1 class="display-4">beställ frukost</h1>
        <hr class="my-4">

        <div class="card-deck">
            <div class="card" th:each="bag : ${BreakfastBag}">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${bag.name}"></h5>
                    <p class="card-text" th:text="${bag.description}"></p>
                    <button th:attr="ng-click='showContent(\''+${bag.id}+'\');'" class="btn btn-primary">välj</button>
                </div>
            </div>
        </div>
        <p>välj frukostpåse och gör era val</p>
    </div>
</div>
<div class="bg part2" th:attr="ng-show='id===(\''+${bag.id}+'\');'"  th:id="${bag.id}" th:each="bag : ${BreakfastBag}">
    <div class="bg">
        <div class="jumbotron text-center">
            <h1 class="display-4"></h1>
            <hr class="my-4">

            <div class="card-deck">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <ul class="list-unstyled">
                            <li>
                                <div class="button-container">
                                    <button onclick="addToCart(this)" class="btn btn-primary">Hej</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 id="cardText">Välj produkt! Mums!</h5>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="script.js"></script>
<script>
    function addToCart(clicked_button) {
        var choice = clicked_button.innerHTML;
        $("#cart").append("<li>" + choice + "</li>");
    }
</script>
</body>
</html>