<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <title>Välj Frukost</title>
    <script src="shoppingCartScript.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://www.brekkie.se">Hem</a>
        </div>
        <ul class="nav nav-pills">
            <li th:each="orderView_ContentsOfBag : ${BagCategoryProduct}" role="presentation"><A th:HREF="'?#' + ${orderView_ContentsOfBag.bag.name}" th:text="${orderView_ContentsOfBag.bag.name}"></A></li>
        </ul>
        <!--<button type="button" class="btn navbar-btn" aria-label="Shopping Cart">-->
        <!--<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>-->
        <div class="navbar-button">
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-shopping-cart"></span> Kundvagn
            </button>
        </div>
    </div>
</nav>

<!-- Kundvagn -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Kundvagn content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Din Frukost</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <table id="cart2">
                <tbody>
                </tbody>
            </table>
            <br>
            <br>
            <button id="sendJson" onclick="sendJson()">Gå till kassan</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
</div>

<div class="part1">
    <div class="jumbotron text-center">
        <h1 class="display-4">välj frukostpåse</h1>
        <hr class="my-4">

        <div class="card-deck">
            <div class="card" th:id="${orderView_ContentsOfBag.bag.id}" th:each="orderView_ContentsOfBag : ${BagCategoryProduct}">
                <!--<img class="card-img-top" src="" alt="Card image cap">-->
                <div class="card-body">
                    <h4 class="card-title" th:text="${orderView_ContentsOfBag.bag.name}"></h4>
                    <p class="card-text" th:text="${orderView_ContentsOfBag.bag.description}"></p>
                    <div>
                        <A th:HREF="'?#' + ${orderView_ContentsOfBag.bag.name}">
                            <button class="btn btn-primary">Välj</button>
                        </A>
                    </div>
                </div>
            </div>
        </div>
        <h4 id="cardText">välj storlek på frukosten och gör era produktval i nästa steg</h4>
    </div>
</div>
<div class="spacing"></div>
<div class="part1" th:id="${orderView_ContentsOfBag.bag.id}" th:each="orderView_ContentsOfBag : ${BagCategoryProduct}">
    <!--<form th:action="@{/order}" th:object="${BagMap}" method="post">-->
    <div>
        <A th:NAME="${orderView_ContentsOfBag.bag.name}"></A>
    </div>
    <div class="jumbotron text-center">
        <h1 class="display-4" th:text="${orderView_ContentsOfBag.bag.name}"></h1>
        <hr class="my-2">
        <form onsubmit="">
        <div class="container2">
            <div class="category" th:each="orderView_ContentsOfCategory : ${orderView_ContentsOfBag.orderView_ContentsOfCategoryList}">
                <h5 class="card-title" th:text="${orderView_ContentsOfCategory.productCategory.name}"></h5>
                <div class="productCategory">
                    <div class="list-unstyled" th:id="${product.id}" th:each="product : ${orderView_ContentsOfCategory.productList}">
                        <label for="number" class="textLeft product" th:text="${product.name}" th:id="${product.id}"></label>
                        <p th:class="bagId" th:text="${orderView_ContentsOfBag.bag.id}" hidden></p>
                        <p th:class="productId" th:text="${product.id}" hidden></p>
                        <input class="productQty" id="number" type="number">

                        <!--th:field="*{product.id}"-->

                    </div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button onclick="addToCart()" class="btn btn-primary">lägg till</button>
        </div>
        </form>
    </div>
    <div class="spacing"></div>
</div>
<div class="spacing"></div>
<table hidden id="cart">
    <tbody>
    </tbody>
</table>




<script>
    function addToCart() {
        var x = document.getElementsByClassName("productQty");
        var i;
        for (i = 0; i < x.length; i++) {
            var qty = x[i].value;
            if (qty.length > 0) {
                var xx = document.getElementsByClassName("product");
                var productName = xx[i].innerHTML;
                var xxx = document.getElementsByClassName("productId");
                var productId = xxx[i].innerHTML;
                var xxxx = document.getElementsByClassName("bagId");
                var bagId = xxxx[i].innerHTML;
                var newRow = document.getElementById('cart').insertRow();
                newRow.innerHTML =
                    "<td>productName\":\"" + productName + "</td>" +
                    "<td hidden>bagId\":\"" + bagId + "</td>" +
                    "<td hidden>productId\":\"" + productId + "</td>" +
                    "<td>productQty\":\"" + qty + "</td>";


                var newRow2 = document.getElementById('cart2').insertRow();
                newRow2.innerHTML =
                    "<td>" + productName + "</td>" +
                    "<td>   </td>" +
                    "<td>" + qty + "</td>";
            }
        }
        var x = document.getElementsByClassName("productQty");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].value = "";
        }
    }

    function html2json() {
        var json = '[';
        var otArr = [];
        // var i = 1;
        var tbl2 = $('table tbody tr').each(function (e) {
            x = $(this).children();
            var itArr = [];
            x.each(function () {
                itArr.push('"' + $(this).text() + '"');
            });
            otArr.push('{' + itArr.join(',') + '}');
        })
        json += otArr.join(",") + ']';

        return json;
    }

    function sendJson() {
        alert(html2json());
        var jsonOrders = html2json();
        console.log(jsonOrders);
        $.ajax({
            type: "POST",
            error: function () {
                $(document.body).css({'cursor': 'default'});
                console.log("error sending the data");
            },
            contentType: "application/json; charset=utf-8",
            data: jsonOrders,
            url: "/frukost", //which is mapped to its partner function on our controller class
            success: function (result) {
                console.log("successfully inserted ", result);
            }
        });
    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script>-->
    <!--var newRow = document.getElementById('cart').insertRow();-->
    <!--newRow.innerHTML =-->
        <!--"<td>productName\":\"" + "häst" + "</td>" +-->
        <!--"<td hidden>bagId\":\"" + "1" + "</td>" +-->
        <!--"<td hidden>productId\":\"" + "1" + "</td>" +-->
        <!--"<td>productQty\":\"" + "1" + "</td>";-->
<!--</script>-->
</body>
</html>