<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>beställ frukost</title>
</head>
<body ng-app="app">
<div class="bg">
    <div class="jumbotron text-center">
        <h1 class="display-4">orderformulär</h1>
        <hr class="my-4">
        <form ng-controller="formController" th:action="@{/frukost}" th:object="${orderForm}" method="post">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputCompanyName">Företagsnamn</label>
                    <input type="text" th:field="*{companyName}" class="form-control" id="inputCompanyName"
                           placeholder="Företagsnamn">
                    <p class="errorMessage" th:if="${#fields.hasErrors('companyName')}">Måste fyllas i</p>
                </div>
                <div class="form-group col-md-3">
                    <label for="kontaktPerson">Referens</label>
                    <input type="text" th:field="*{contactperson}" class="form-control" id="kontaktPerson"
                           placeholder="Kontaktperson/referensnummer">
                    <p class="errorMessage" th:if="${#fields.hasErrors('contactperson')}">Måste fyllas i</p>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputOrgnr">Organisationsnummer</label>
                    <input type="text" th:field="*{orgNr}" class="form-control" id="inputOrgnr"
                           placeholder="Organisationsnnummer">
                    <p class="errorMessage" th:if="${#fields.hasErrors('orgNr')}">Måste fyllas i</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEmail">Epost</label>
                    <input type="email" th:field="*{email}" class="form-control" id="inputEmail" placeholder="Epost">
                    <p class="errorMessage" th:if="${#fields.hasErrors('email')}">Måste fyllas i</p>
                </div>
                <div class="form-group col-md-4">
                    <label for="kontaktInfo">Telefonnummer</label>
                    <input type="text" th:field="*{phoneNumber}" class="form-control" id="kontaktInfo"
                           placeholder="Telefonnummer">
                    <p class="errorMessage" th:if="${#fields.hasErrors('phoneNumber')}">Måste fyllas i</p>
                </div>
            </div>
            <div class="form-row">
                <span>Allergier?</span>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ng-click="radioClick('show')" type="radio" id="allergiJa"
                           name="inlineRadioOptions" value="Ja">
                    <label class="form-check-label" for="allergiJa">Ja</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ng-click="radioClick('hide')" type="radio" id="allergiNej"
                           name="inlineRadioOptions" value="Nej">
                    <label class="form-check-label" for="allergiNej">Nej</label>
                </div>
            </div>
            <p class="errorMessage" th:if="${#fields.hasErrors('allergy')}">Måste besvaras</p>
            <div ng-if='show === true' class="form-group">
                <textarea class="form-control" th:field="*{allergyMarking}" id="allergyMessage" rows="2"
                          placeholder="Ange allergier här"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail">Leveransdag</label>
                    <input type="date" th:field="*{deliveryDate}" class="form-control" id="deliveryDate" placeholder="">
                    <p class="errorMessage" th:if="${#fields.hasErrors('deliveryDate')}">Felaktigt datum</p>
                </div>
                <div class="form-group col-md-3">
                    <label for="kontaktInfo">Leveranstid</label>
                    <input type="time" th:field="*{deliveryTime}" class="form-control" id="deliveryTime" placeholder="">
                    <p class="errorMessage" th:if="${#fields.hasErrors('deliveryTime')}">Felaktig tid</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="deliveryAddress">Leveransaddress</label>
                    <input type="text" th:field="*{deliveryAddress}" ng-model="delivery.Address" class="form-control"
                           id="deliveryAddress"
                           placeholder="LeveransAddress">
                    <p class="errorMessage" th:if="${#fields.hasErrors('deliveryAddress')}">Måste fyllas i</p>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputDeliveryPostalTown">Stad</label>
                    <input type="text" th:field="*{deliveryPostalTown}" ng-model="delivery.PostalTown"
                           class="form-control" id="inputDeliveryPostalTown"
                           placeholder="Stad">
                    <p class="errorMessage" th:if="${#fields.hasErrors('deliveryPostalTown')}">Måste fyllas i</p>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Postnummer</label>
                    <input type="text" th:field="*{deliveryPostNumber}" ng-model="delivery.PostNumber"
                           class="form-control" id="inputZip"
                           placeholder="Postnummer">
                    <p class="errorMessage" th:if="${#fields.hasErrors('deliveryPostNumber')}">Måste fyllas i</p>
                </div>
            </div>


            <div class="form-row">
                <div class="form-check">
                    <input class="form-check-input" ng-model="copyAddress" ng-change="copyAddresses()" type="checkbox"
                           id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Leveransadressen är samma som faktureringsadressen
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="invoiceAddress">Faktureringsaddress</label>
                    <input type="text" th:field="*{invoiceAddress}" class="form-control" ng-model="invoice.Address"
                           id="invoiceAddress" placeholder="Faktureringsaddress">
                    <p id="errorMessage" th:if="${#fields.hasErrors('invoiceAddress')}" th:errors="*{invoiceAddress}">Måste fyllas i</p>
                </div>

                <div class="form-group col-md-3">
                    <label for="invoicePostalTown">Stad</label>
                    <input type="text" th:field="*{invoicePostalTown}" ng-model="invoice.PostalTown"
                           class="form-control" id="invoicePostalTown"
                           placeholder="Stad">
                    <p class="errorMessage" th:if="${#fields.hasErrors('invoicePostalTown')}">Måste fyllas i</p>
                </div>
                <div class="form-group col-md-2">
                    <label for="invoicePostNumber">Postnummer</label>
                    <input type="text" th:field="*{invoicePostNumber}" ng-model="invoice.PostNumber"
                           class="form-control" id="invoicePostNumber"
                           placeholder="Postnummer">
                    <p class="errorMessage" th:if="${#fields.hasErrors('invoicePostNumber')}">Måste fyllas i</p>
                </div>
            </div>
            <div class="form-row">
                    <textarea class="form-control" th:field="*{additionalText}" id="additionalText" rows="3"
                              placeholder="Övrig information"></textarea>
            </div>

            <div class="form-row">
                <button type="submit" class="btn btn-primary btn-block">Beställ</button>
            </div>
            <h5 id="cardText">Vi ser fram emot att leverera er frukost</h5>

        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="script.js"></script>
</body>
</html>
