<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Tack</title>
</head>
<body>
<div class="bg">
    <div class="jumbotron text-center">
        <h1 class="display-4">tack</h1>
        <hr class="my-4">

        <h5>Tack för din förfrågan, vi återkommer snart med mer information</h5>

        <p th:text="'Företag: ' + ${orderForm.companyName}"/>
        <p th:text="'Organisationsnummer: ' + ${orderForm.orgNr}"/>
        <p th:text="'Kontaktinformation: ' + ${orderForm.email} + ', ' + ${orderForm.phoneNumber}"/>
        <p th:text="'Kontaktperson/referens: ' + ${orderForm.contactperson}"/>
        <p th:text="'Leveransadress: ' + ${orderForm.deliveryAddress} + ', ' + ${orderForm.deliveryPostNumber}  + ' ' + ${orderForm.deliveryPostalTown}"/>
        <p th:text="'Faktureringsadress: ' + ${orderForm.invoiceAddress} + ', ' + ${orderForm.invoicePostNumber}  + ' ' + ${orderForm.invoicePostalTown}"/>
        <p th:text="'Allergier: ' + ${orderForm.allergy} + ', ' + ${orderForm.allergyMarking}"/>
        <p th:text="'Leverandsdatum ' + ${orderForm.deliveryDate}"/>
        <p th:text="'Leverandstid ' + ${orderForm.deliveryTime}"/>

    </div>
</div>

</body>
</html>